# DATABASE_URL
DATABASE_URL=""       # Get connection string from https://cloud.mongodb.com/

# BETTER-AUTH
BETTER_AUTH_URL=https://tku-sparring.localhost
BETTER_AUTH_SECRET=   # Generate secret via https://better-auth.com/docs/installation
